<div class="dash_bord">
<sidebar></sidebar>
<div class="right_panel">
   <header></header>
   <div class="panel_body">
      <h3 class="heading_cls"><a ui-sref="buyers" class="back_arrow_cls"><i class="fa fa-arrow-left"></i></a>Stamp</h3>
      <hr class="heading_hr">
      <div class="panel_body_inner inner_box">
         <div class="scale_outer">
            <div class="scale_inner scale_inner_sg">
               <div class="row">
                  <div class="col-md-6">
                     <div style="background: #fff;float: left;margin: 0;padding: 0;">
                        <div style="margin: 0;padding: 0 0 5px 0;float: left;width: 100%;border-bottom: 2px solid #cdcdcd;">
                           <div style="margin: 0;padding: 0;float: left;width: 20%;">
                              <img src="{{imagePath}}/images/rudyLogo2.png">
                           </div>
                           <div style="margin: 0;padding: 0;float: right;width: 30%;">
                              <h2 style="margin: 0;padding: 0;float: right;width: 100%;font-size: 18px;color: #000;">RUDY AGRO LTD.</h2>
                              <h2 style="margin: 0;padding: 0;float: right;width: 100%;font-size: 18px;color: #000;">Box 100, Outlook Sask. S0L 2N0</h2>
                              <h3 style="margin: 0;padding: 0;float: right;width: 100%;font-size: 16px;color: #000;">Tel (306) 867-8667</h3>
                              <h3 style="margin: 0;padding: 0;float: right;width: 100%;font-size: 16px;color: #000;">Fax (306 867-8290</h3>
                           </div>
                        </div>
                        <div style="margin: 10px 0 0 0;padding: 0;float: left;width: 100%;">
                           <h2 style="margin: 0 0 10px 0;padding: 0;float: left;width: 100%;text-align: center;font-size: 24px;color: #000;">STAMP</h2>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">DATE:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;"> {{myForm.date | date}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <b style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;">CONTRACT #:</b>
                                 <b style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">{{myForm.contractNumber}}</b>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Contract Price/CWT:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;"> {{myForm.pricePerCWT | number:2}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Exchange Rate:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">{{myForm.exchangeRate}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Contract Quantity (CWT):</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;"> {{myForm.qtyCWT | number:2}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">No of Shipments:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">{{myForm.noOfShupment}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">FCL’s/shipment:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;"> {{myForm.packedId}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Brokerage Commission:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">{{myForm.brokerageCWT | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Brokerage/CWT:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;"> {{myForm.commisionCWT | number:2}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Ocean freight + $100/FC:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">${{myForm.oceanFreightBL | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">FCL/Shipment:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;"> {{myForm.packedId}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Ocean frt/CWT:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">${{myForm.oceanFreightCWT | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Bl/fee:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;"> ${{myForm.blFee}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">BL/fee per CWT:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">${{myForm.blFeeCWT | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;color: #fff;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #fff;font-weight: bold;">Bl/fee:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #fff;"> ${{myForm.blFee}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Total Freight/CWT:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">${{myForm.totalBlFeeCWT | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Documentation Costing:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;"> ${{myForm.documentCosting}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Document cost/CWT:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">${{myForm.documentCostingCWT | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">LC Costing:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;"> ${{myForm.lcCost}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">LC Costing/CWT:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">${{myForm.lcCostCWT | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Insurance Rate:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;"> ${{myForm.insuranceRate}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Insurance Rate CWT:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">${{myForm.insuranceRateCWT | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">ARI Policy:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;"> ${{myForm.ariPolicy}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">ARI Policy CWT:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">${{myForm.ariPolicyCWT | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Price in USD:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;"> ${{myForm.priceUSD | number:2}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #fff;font-weight: bold;">Interest days X Rate:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #fff;">${{myForm.interestDays}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Price in CAD:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;"> ${{myForm.priceCAD | number:2}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">CA$ Price/CWT:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">${{myForm.cadCWT | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Interest days X Rate:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;"> {{myForm.interestDays | number:2}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Interest Rate/CWT:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">${{myForm.interestRateCWT | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Stuffing:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;"> {{myForm.stuffingType}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Stuffing/CWT:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">${{myForm.stuffingCWT | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Inland Freight:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;"> {{myForm.inlineFreight}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Inland Freight CWT:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">${{myForm.inlineFreightCWT | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Bag Type:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;"> {{myForm.bagCostType}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Bag Cost CWT:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">${{myForm.bagCostCWT | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Certificate of Analysis:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;"> {{myForm.certificateAnalysisName}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">COA Cost CWT:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">${{myForm.coaCost | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Inland freight stuffing buffer:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;"> {{myForm.stuffingBuffer}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Misc Cost - {{myForm.missCost1}}:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">${{myForm.missCostCWT1 | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #fff;font-weight: bold;">Inland freight stuffing buffer:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #fff;"> {{myForm.stuffingBuffer}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Misc Cost - {{myForm.missCost2}}:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;">${{myForm.missCostCWT2 | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #fff;font-weight: bold;">Inland freight stuffing buffer:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #fff;"> {{myForm.stuffingBuffer}}</p>
                              </div>
                              <div style="margin: 0;padding: 2px;float: left;width: 50%;border-top: 2px solid #000;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Net FOB(CAD):</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;font-weight: bold;">${{myForm.netFOBCAD | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #fff;font-weight: bold;">Inland freight stuffing buffer:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #fff;"> {{myForm.stuffingBuffer}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Target FOB(CAD):</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;font-weight: bold;">${{myForm.targetFOBCAD | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 0 0px 6px 0px;padding: 0;float: left;width: 100%;">
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #fff;font-weight: bold;">Inland freight stuffing buffer:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #fff;"> {{myForm.stuffingBuffer}}</p>
                              </div>
                              <div style="margin: 0;padding: 0;float: left;width: 50%;">
                                 <p style="margin: 0;padding: 0;float: left;width: 50%;font-size: 12px;color: #000;font-weight: bold;">Over/Under Target:</p>
                                 <p style="margin: 0;padding: 0;float: left;width: 30%;font-size: 12px;color: #000;font-weight: bold;">${{myForm.underTarget | number:2}}</p>
                              </div>
                           </div>
                           <div style="margin: 20px 0 0 0;padding: 0;float: left;width: 98%;">
                              <div style="margin: 0 0 5px 0;padding: 0px;float: left;width: 100%;">
                                 <b style="margin: 0;padding: 0;float: left;width: 40%;font-size: 12px;color: #000;">CURRENCY POSITION:</b>
                                 <b style="margin: 0;padding: 0;float: left;width: 20%;font-size: 12px;color: #000;">DATE</b>
                                 <b style="margin: 0;padding: 0;float: left;width: 20%;font-size: 12px;color: #000;">% Ship</b>
                                 <b style="margin: 0;padding: 0;float: left;width: 10%;font-size: 12px;color: #000;">Exchange</b>
                              </div>
                              <div style="margin: 0;padding: 10px;float: left;width: 100%;border: 2px solid #cdcdcd;border-radius: 5px;">
                                 <div style="margin: 0;padding: 0px;float: left;width: 100%;" ng-repeat="d in shipmentScheldule">
                                    <p style="margin: 0;padding: 0;float: left;width: 40%;font-size: 12px;color: #000;">{{d.shipmentType || '--'}}</p>
                                    <p style="margin: 0;padding: 0;float: left;width: 20%;font-size: 12px;color: #000;">{{(d.end_date | date)|| '--'}}</p>
                                    <p style="margin: 0;padding: 0;float: left;width: 20%;font-size: 12px;color: #000;">{{ (d.ship | number:2) || '--'}}</p>
                                    <p style="margin: 0;padding: 0;float: left;width: 10%;font-size: 12px;color: #000;">{{d.exchangeRate|| '--'}}</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                   
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval">
                           <label style="width: 58%;">Price/MT</label>
                           <input type="text" disabled placeholder="Price/MT" ng-model="myForm.amount">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Price/CWT</label>
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.pricePerCWT | number:2}}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Qty MT</label>
                           
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.contractQuantity | number:2}}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Qty CWT</label>
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.qtyCWT | number:2}}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">No of Shipments</label>
                           <input type="text" numbers-Only maxlength="3" placeholder="No of Shipments" ng-model="myForm.noOfShipment">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">FCL/Shipments</label>
                           <input type="text" numbers-Only maxlength="3" placeholder="FCL/Shipments" ng-model="myForm.packedId">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Broker Commission</label>
                           <input type="text" placeholder="Broker Commission" numbers-Only ng-model="myForm.brokerageCWT">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Commission/CWT</label>
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.commisionCWT | number:2}}</span>
                           
                        </div>
                     </div>
                    
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Ocean Freight(BL)</label>
                         
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.oceanFreightBL | number:2}}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Ocean Freight/CWT</label>
                           
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.oceanFreightCWT | number:2}}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Bl Fee</label>
                           <input type="text" placeholder="Bl Fee" ng-model="myForm.blFee" ng-change="changeBlFeeCWT()">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Bl Fee/CWT</label>
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.blFeeCWT | number:2}}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Total Freight/CWT</label>
                           
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.totalBlFeeCWT | number:2}}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Doc Costing</label>
                           <input type="text" numbers-Only placeholder="Document Costing" ng-model="myForm.documentCosting" ng-change="getDocumentCosting('DOC')">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Doc Costing/CWT</label>
                           
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.documentCostingCWT | number:2}}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">LC Cost</label>
                           <input type="text" placeholder="LC Cost" numbers-Only ng-model="myForm.lcCost" ng-change="getDocumentCosting('LC')">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">LC Cost/CWT</label>
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.lcCostCWT | number:2}}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Insurance Rate</label>
                           <input type="text" placeholder="Insurance Rate" numbers-Only ng-model="myForm.insuranceRate" ng-change="getDocumentCosting('Insurance')" position="4">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Ins Rate/CWT</label>
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.insuranceRateCWT | number:2}}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">ARI Policy</label>
                           <input type="text" placeholder="ARI Policy" numbers-Only ng-model="myForm.ariPolicy" ng-change="getDocumentCosting('ARI')" position="4">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">ARI Policy/CWT</label>
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.ariPolicyCWT | number:2}}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Exchange</label>
                           <input type="text" placeholder="Exchange" numbers-Only disabled ng-model="myForm.exchangeRate">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Price CAD</label>
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.priceCAD | number:2}}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Price USD</label>
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.priceUSD | number:2}}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">CAD CWT</label>
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.cadCWT | number:2}}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Interest Rate</label>
                           <input type="text" placeholder="Interest Rate" numbers-Only ng-model="myForm.interestRate" ng-change="getDocumentCosting('Interest')">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Interest Days</label>
                           <input type="text" placeholder="Interest Rate" numbers-Only ng-model="myForm.interestDays" ng-change="getDocumentCosting('Interest')">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Interest Rate/CWT</label>
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.interestRateCWT | number:2}}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Stuffing Type</label>
                           <select ng-model="myForm.stuffingType">
                              <option value="">Stuffing Type</option>
                              <option value="50 Kg/ 100 LB">50 Kg/ 100 LB</option>
                              <option value="25 Kg">25 Kg</option>
                              <option value="Bulk">Bulk</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Stuffing CWT</label>
                           <input type="text" placeholder="Stuffing CWT" numbers-Only ng-model="myForm.stuffingCWT">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Stuffing Buffer</label>
                           <input type="text" placeholder="Stuffing Buffer" numbers-Only ng-model="myForm.stuffingBuffer">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Inland Freight</label>
                           <select ng-model="myForm.inlineFreight" ng-change="getDocumentCosting('Inline Freight')">
                              <option value="">Select Inland Freight</option>
                              <option value="Intermodal VCR">Intermodal VCR</option>
                              <option value="Intermodal MTL">Intermodal MTL</option>
                              <option value="Hoppercar">Hoppercar</option>
                              <option value="Boxcar">Boxcar</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Inland CWT</label>
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.inlineFreightCWT | number:2}}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Bag Type</label>
                           <select disabled name="packing" ng-options="bags._id as bags.name for bags in bagsList"  ng-model="myForm.packingUnit" ng-change="getPackingUnitName(myForm.packingUnit)">
                              <option value="">Select</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Bag Cost CWT</label>
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.bagCostCWT | number:2}}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">COA</label>
                           <select disabled name="euipment" ng-options="certificate._id as certificate.certificateName for certificate in certificateCostList"  ng-model="myForm.certificateAnalysis">
                              <option value="">Select Certificate of Analysis</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Misc Cost</label>
                           <input type="text" placeholder="Misc Cost" ng-model="myForm.missCost1">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Misc Cost CWT</label>
                           <input type="text" placeholder="Misc Cost CWT" numbers-Only ng-model="myForm.missCostCWT1" ng-change="getDocumentCosting()">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Misc Cost</label>
                           <input type="text" placeholder="Misc Cost" ng-model="myForm.missCost2">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Misc Cost CWT</label>
                           <input type="text" placeholder="Misc Cost CWT" numbers-Only ng-model="myForm.missCostCWT2" ng-change="getDocumentCosting()">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Misc Cost</label>
                           <input type="text" placeholder="Misc Cost" ng-model="myForm.missCost3">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Misc Cost CWT</label>
                           <input type="text" placeholder="Misc Cost CWT" numbers-Only ng-model="myForm.missCostCWT3" ng-change="getDocumentCosting()">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Net FOB(CAD)</label>
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.netFOBCAD | number:2}}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Target FOB(CAD)</label>
                           <input type="text" placeholder="Target FOB(CAD)" numbers-Only ng-model="myForm.targetFOBCAD" ng-change="getDocumentCosting('Target')">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="frval frval_two">
                           <label style="width: 58%;">Over/Under Target</label>
                           <span style="margin: 0 1.5% 5px 0;padding: 5px;float: right;width: 67%;background: transparent;outline: none;border: none;border-bottom: 1px solid #e2e2e2;line-height: 15px;font-size: 12px;color: #000;text-align: center;">{{myForm.underTarget | number:2}}</span>
                        </div>
                     </div>
                     <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="com_pac plus_row">
                           <label class="land_loaction ful_lab">Currency Position</label>
                        </div>
                     </div>
                     <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="com_pac plus_row" ng-repeat="d in shipmentScheldule track by $index">
                           <div class="data_input full_width">
                              <div class="row">
                                 <div class="col-md-3">
                                    <select style="border-bottom: 1px solid #000000;" class="fuloo_lab" ng-model="d.shipmentType" disabled>
                                       <option value="">Select Shipment</option>
                                       <option value="Shipment {{$index+1}}">Shipment {{$index+1}}</option>
                                    </select>
                                 </div>
                                 <div class="col-md-4">
                                    <datepicker class="date_pic fuloo_lab" date-format="MMM-yyyy" selector="form-control" date-min-limit="{{calculateMinDate($index)}}">
                                       <div class="input-group">
                                          <input class="form-control"  ng-model="d.end_date" placeholder="Date" ng-change="calculateExchageRate(d)"/ disabled>
                                       </div>
                                    </datepicker>
                                 </div>
                                 <div class="col-md-2">
                                    <input style="border-bottom: 1px solid #000000;" type="text" class="fuloo_lab" ng-model="d.ship" placeholder="% Ship" name="" disabled ng-change="checkShipingPriceWithTotalUSDPrice(d)">
                                 </div>
                                 <div class="col-md-2">
                                    <input style="border-bottom: 1px solid #000000;" type="text" class="fuloo_lab" disabled ng-model="d.exchangeRate" placeholder="Exchange rate" name="">
                                 </div>
                              
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-12" ng-if="data.sales.tradePurchaseContract.edit">
                        <button class="sboo" ng-click="submit()">Submit</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>