<div class="dash_bord">
   <sidebar></sidebar>
   <div class="right_panel">
      <header></header>
            <div class="action_btn">
               <button ng-click="print(printSectionId)">Print</button>
               <a ng-href="/purchaseConfirmation/{{growerId}}/edit/{{myForm.contractNumber}}">Edit</a>
               <!-- <a ng-href="/growerDetails/{{growerId}}">Save</a> -->
            </div>
      <div class="panel_body">
         <div class="panel_body_inner inner_box_List_add add_commodity" style="padding: 0 15px;">
            <div id="printSectionId">
               <style type="text/css">
                  table {
                  border-collapse: collapse;
                  }
                  table, th, td {
                  border: 1px solid #dddddd;
                  }
                  @page {
                            size: letter potrait;
                        }
                     @media print {
                    .ng-show {
                      /*display: none !important;*/
                      visibility: hidden!important;
                    }
                  }
                  /*@page :left {
                     margin: 2mm;
                     }

                     @page :right {
                     margin: 4mm;
                     }*/
               </style>
               <div class="" style="width: 100%; float: left;">
                  <div class="" style="margin: 0;padding: 0px;width: 100%;float: left;background: #fff;">
                     <div class="" style="margin: 0 0 3px 0;padding: 0 0 2px 0;width: 100%;float: left;  border-bottom: 5px solid #007e4e;">
                        <div class="" style="width: 28.33%; float: left;padding: 0 0px;">
                           <div class="" style="margin: 0;padding: 0;width: 100%;float: left">
                              <img src="{{imagePath}}/assets/images/rudyLogo2.png" style="margin: 0;padding: 0;float: left;">
                           </div>
                        </div>
                        <div class="" style="width: 34.33%; float: left;padding: 0 0px;text-align: center;">
                           <div class="" style="margin: 0;padding: 0;width: 100%;float: left;">
                              <h3 style="margin: 0;padding: 0;width: 100%;float: left;color: #000;font-size: 15px;">Purchase Confirmation</h3>
                              <h4 style="margin: 3px 0;padding: 0;width: 100%;float: left;color: #000;font-size: 13px">Commodity: {{myForm.commodityName}}</h4>
                              <h5 style="margin: 0;padding: 0 0px;width: 100%;float: left;color: #000;   font-size: 12px;">Grade: {{myForm.gradeName}}</h5>
                           </div>
                        </div>
                        <div class="" style="width: 28.33%; float: right;padding: 0 15px;">
                           <div class="" style="margin: 0;padding: 0;width: 100%;float: left;">
                              <h2 style="margin: 0;padding: 0;width: 100%;float: left;color: #007e4e;
                                 font-size: 18px;">RUDY AGRO LTD.</h2>
                              <h3 style="margin: 0;padding: 0;width: 100%;float: left;color: #007e4e;
                                 font-size: 14px;">Box 100, Outlook Sask.</h3>
                              <h3 style="margin: 0;padding: 0;width: 100%;float: left;color: #007e4e;
                                 font-size: 14px;">S0L 2N0</h3>
                              <a href="#" style="margin: 0;padding: 0;width: 100%;float: left;color: #007e4e;
                                 font-size: 11px;">Tel (306) 867-8667</a>
                              <a href="#" style="margin: 0;padding: 0;width: 100%;float: left;color: #007e4e;
                                 font-size: 11px;">Fax (306) 867-8290</a>
                              <!-- <a href="#" style="margin: 2px 0;padding: 0;width: 100%;float: left;color: #007e4e;
                                 font-size: 13px;"></a> -->
                           </div>
                        </div>
                     </div>
                     <div class="" style="margin: 0;padding: 0;width: 100%;float: left;">
                        <h3 style="color: #000;margin: 0;padding: 0;float: left;width: 100%;font-size: 14px;font-weight: 700;text-align: center;">COMMODITY PURCHASE AND DEFERRED DELIVERY AGREEMENT <span style="float: right;margin: 0 16px 0 0;font-size: 11px;font-weight: 400;">{{myForm.CWTDel}}</span></h3>
                        <h6 style="color: #000;margin: 0px 0 10px 0px;padding: 0;float: left;width: 100%;font-size: 11px;text-align: center;">Between Rudy Agro Ltd and:</h6>
                        <div style="width: 100%; float: left;padding: 0;margin: 0;">
                           <div style="width: 45%; float: left;padding: 0 15px;margin: 0;">


                              <h3 style="margin: 0 0 0px 0;padding: 0;width: 100%;float: left;font-size: 11px;font-weight: 400;color: #000;"><b style="width: 20%;float: left;font-weight: 700;">Seller :</b> {{myForm.growerFullName}}</h3>
                              <h3 style="margin: 0 0 0px 0;padding: 0;width: 100%;float: left;font-size: 11px;font-weight: 400;color: #000;"><b style="width: 20%;float: left;font-weight: 700;">Address :</b> <p style="width: 80%;font-style: normal;float: left;">{{myForm.growerId.addresses[0].street}}<br>{{(myForm.growerId.addresses[0].town+' '+myForm.growerId.addresses[0].country+' '+myForm.growerId.addresses[0].province)}}<br>{{myForm.growerId.addresses[0].postal}}</p></h3>


                              <!-- <h3 style="margin: -3px 0 0px -21.5%;padding: 0;width: 100%;float: left;font-size: 15px;font-weight: 400;color: #000;text-align: center;"><b style="width: 20%;float: left;font-weight: 400;"></b> {{(myForm.growerId.addresses[0].town+' '+myForm.growerId.addresses[0].country+' '+myForm.growerId.addresses[0].province)}}</h3> -->
                              <!-- <h3 style="margin: -3px 0 0px -23.5%;padding: 0;width: 100%;float: left;font-size: 11px;font-weight: 400;color: #000;text-align: center;"><b style="width: 20%;float: left;font-weight: 400;"></b> {{myForm.growerId.addresses[0].postal}}</h3> -->
                              <h3 style="margin: 0 0 0px 0;padding: 0;width: 100%;float: left;font-size: 11px;font-weight: 400;color: #000;"><b style="width: 20%;float: left;font-weight: 700;">Phone :</b> {{myForm.growerId.phone2}}</h3>
                              <h3 style="margin: 0px 0 10px 0px;padding: 0;width: 100%;float: left;font-size: 11px;font-weight: 400;color: #000;"><b style="width: 20%;float: left;font-weight: 700;">Email :</b> {{myForm.growerId.email}}</h3>
                           </div>


                           <div style="width: 45%; float: right;padding: 0 15px;margin: 0;text-align: right;">

                              <h3 style="margin: 0 0 5px 0;padding: 0;width: 100%;float: left;font-size: 11px;color: #000;"><b style="width: 30%;float: left;font-weight: 700;text-align: left;">Date: </b><i style="width: 70%;text-align: left;float: left;font-style: normal;">
                                 {{(myForm.backDate|date) ||(myForm.createdAt|date:'MM/dd/yyyy')}}</i></h3>
                              <h3 style="margin: 0;padding: 0;width: 100%;float: left;font-size: 11px;font-weight: 400;color: #000;"><b style="width: 30%;float: left;font-weight: 700;text-align: left;">Contract Number: </b><i style="width: 70%;text-align: left;float: left;font-style: normal;">{{myForm.contractNumber}}</i></h3>
                           </div>
                        </div>
                        <!-- <div style="width: 100%; float: left;padding: 0;margin-left: 578px;">
                              <h3 style="margin: 0;padding: 0;width: 100%;float: left;font-size: 15px;color: #000;">Delivery Point: {{myForm.deliveryPoint}}</h3>
                              <h3 style="margin: 0;padding: 0;width: 100%;float: left;font-size: 15px;color: #000;">Delivery Deliver Period: {{myForm.contractNumber}}</h3>
                        </div>  -->

                        <!-- <div style="width: 100%; float: left;padding: 0;margin: 0 0 0 11px;">
                           <h3 style="padding: 0;width: 50%;float: left;font-size: 11px;color: #000;margin: 2px;"><b style="float: left;width: 45%;">Commodity:</b> <span style="font-weight: 400;">{{myForm.commodityName}}</span></h3>
                           <h3 style="margin: 2px 0 0 0;padding: 0px;width: 49%;float: left;font-size: 11px;color: #000;"><b style="width: 30%;float: left;text-align: left;">Grade:</b> <span style="font-weight: 400;text-align: left;">{{myForm.gradeName}}</span></h3>
                        </div> -->

                        <div style="width: 100%; float: left;padding: 0;margin: 0 0 0 5px;">
                           <h3 style="padding: 0;width: 45%;float: left;font-size: 6px;color: #000;margin: 2px;"><b style="width: 50%;float: left;">Commodity:</b> <span style="font-weight: 400;">{{myForm.commodityName}}</span></h3>
                           <h3 style="margin: 1px 22px 0 0;padding: 0;width: 48%;float: right;font-size: 6px;color: #000;text-align: right;"><b style="width: 30%;float: left;text-align: left;">Grade:</b> <span style="font-weight: 200;text-align: left;width: 70%;float: left;">{{myForm.gradeName}}</span></h3>

                           <!-- <h3 style="margin: 10px 0 0 0;padding: 9px;width: 40%;float: right;font-size: 15px;color: #000;text-align: right;">Delivery Period: {{myForm.shipmentPeriodFrom}} To {{myForm.shipmentPeriodTo}}</h3> -->
                        </div>

                        <div style="width: 100%; float: left;padding: 0;margin: 0 0 0 5px;">
                           <h3 style="padding: 0;width: 45%;float: left;font-size: 6px;color: #000;margin: 1px;"><b style="width: 50%;float: left;">Crop Year:</b> <span style="font-weight: 400;">{{myForm.cropYear}}</span></h3>
                           <h3 style="margin: 1px 22px 0 0;padding: 0;width: 48%;float: right;font-size: 6px;color: #000;text-align: right;"><b style="width: 30%;float: left;text-align: left;">Delivery Point:</b> <span style="font-weight: 300;text-align: left;width: 70%;float: left;">{{myForm.deliveryPoint}}</span></h3>

                           <!-- <h3 style="margin: 10px 0 0 0;padding: 9px;width: 40%;float: right;font-size: 15px;color: #000;text-align: right;">Delivery Period: {{myForm.shipmentPeriodFrom}} To {{myForm.shipmentPeriodTo}}</h3> -->
                        </div>





                        <div style="width: 100%; float: left;padding: 0;margin: 0 0 0 5px;">
                           
                           <h3 style="padding: 0;width: 45%;float: left;font-size: 6px;color: #000;margin: 1px;"><b style="width: 50%;float: left;">Contracted Quantity:</b>  <span style="font-size: 6px; font-weight: 300;">{{myForm.contractQuantity | number:2}} {{myForm.quantityUnit}} NET</span> </h3>
                           <h3 style="margin: 1px 22px 0 0;padding: 0px;width: 48%;float: right;font-size: 6px;color: #000;text-align: right;"><b style="width: 30%;float: left;text-align: left;">Delivery Period:</b> <span style="font-weight: 300;text-align: left;float: left;width: 70%;">{{myForm.shipmentPeriodFrom|date}} - {{myForm.shipmentPeriodTo|date}}</span></h3>
                        </div>

                     <div style="width: 100%; float: left;padding: 0;margin: 0 0 0 5px;">
                           <h3 style="padding: 0;width: 45%;float: left;font-size: 6px;color: #000;margin: 1px;"><b style="width: 50%;float: left;">Specifications:</b> <span style="font-weight: 300;" class="ng-binding">{{myForm.specifications}}</span></h3>
                           <h3 style="margin: 1px 22px 0 0;padding: 0;width: 48%;float: right;font-size: 6px;color: #000;text-align: right;"><b style="width: 30%;float: left;text-align: left;">Sample Number:</b> <span style="font-weight: 400;text-align: left;width: 70%;float: left;" class="ng-binding">{{myForm.sampleNumber}}</span></h3>

                           <!-- <h3 style="margin: 10px 0 0 0;padding: 9px;width: 40%;float: right;font-size: 15px;color: #000;text-align: right;">Delivery Period: {{myForm.shipmentPeriodFrom}} To {{myForm.shipmentPeriodTo}}</h3> -->
                        </div>
                        <div style="width: 100%; float: left;padding: 0;margin: 0 0 0 5px;">
                              <!-- <h3 style="padding: 0;width: 100%;float: left;font-size: 15px;color: #000;">Crop Year: {{myForm.cropYear}}</h3> -->
                              
                              <!-- <h3 style="padding: 0;width: 100%;float: left;font-size: 13px;color: #000;margin: 2px;"><b style="width: 22.5%;float: left;">Specifications:</b> <span style="font-weight: 400;">{{myForm.specifications}}</span></h3>

                              <h3 style="margin: 2px 22px 0 0;padding: 0px;width: 48%;float: right;font-size: 13px;color: #000;text-align: right;"><b style="width: 30%;float: left;text-align: left;">Delivery Period:</b> <span style="font-weight: 400;text-align: left;float: left;width: 70%;" class="ng-binding">Nov 01,2018 - Nov 21,2018</span></h3> -->

                              <h3 style="padding: 0;width: 100%;float: left;font-size: 6px;color: #000;margin: 1px;"><b style="width: 22.5%;float: left;">Purchase Price:</b> <span style="font-size: 5px; font-weight: 300;">{{myForm.price | number:4}} / {{myForm.priceUnit}} {{myForm.priceCurrency}}</span></h3>

                              <h3 ng-show="myForm.splitsPrice!=0" style="padding: 0;width: 100%;float: left;font-size: 6px;color: #000;margin: 1px;font-weight: 300;"><b style="width: 22.5%;float: left;color: #fff">.</b> ${{myForm.splitsPrice | number:4}} per {{myForm.quantityUnit}} net for splits {{myForm.priceCurrency}}</h3>

                              <h3 style="padding: 0;width: 100%;float: left;font-size: 7px;color: #000;margin: 1px;"><b style="width: 22.5%;float: left;">Payment Term:</b> <span style="font-weight: 300;font-size: 7px;">{{myForm.paymentTerms}}</span></h3>
                              <h3 style="padding: 0;width: 100%;float: left;font-size: 7px;color: #000;margin: 1px;"><b style="width: 22.5%;float: left;">Handling Tariff:</b> <span style="font-weight: 300;font-size: 7px;float: left;width: 70%;">A handling tariff will be levied against all deliveries - $8.00/MT on Lentils, Chick Peas, Edible Beans, Canaryseed, Marrowfat Peas, $3.50/mt on all other Peas, Flax and Canola</span></h3>



                              <h3 style="padding: 0;width: 100%;float: left;font-size: 7px;color: #000;margin: 1px;"><b style="width: 22.5%;float: left;">Settlement Instructions:</b> <span style="font-weight: 300;font-size: 7px;">{{myForm.settlementInstructions}}</span></h3>
                              <h3 style="padding: 0;width: 100%;float: left;font-size: 7px;color: #000;margin: 1px 0 1px 0">Other Conditions:<br> <span style="font-weight: 300;font-size: 7px;">{{myForm.otherConditions}}</span></h3>
                        </div>
                        <ol style="margin:2px 0 0 -17px;width: 96%;float: left;font-weight: 300;">
                           <li style="margin-bottom: 1px;padding: 0;width: 100%;float: left;color: #000;font-size: 7px;font-weight: 300;">
                              The Seller will deliver, at its own expense and in good and dry condition, the Commodity to the named delivery point, on a date to be specified by Rudy Agro on 5 day’s notice to the Seller during the delivery period. The Seller warrants free and clear title to the Commodity and that the Commodity is not, and will not be, encumbered by contract or otherwise. The Seller shall not be entitled to receive a higher price than that specified above even if, following delivery, the Commodity is graded higher than the grade stated above.
                           </li>
                           <li style="margin-bottom: 1px;padding: 0;width: 100%;float: left;color: #000;font-size: 7px;font-weight: 300;">
                              The Seller shall bear all costs of delivery to the named delivery point as aforesaid, and all risk in relation to the Commodity until completion of its delivery to Rudy Agro.
                           </li>
                           <li style="margin-bottom: 1px;padding: 0;width: 100%;float: left;color: #000;font-size: 7px;font-weight: 300;">
                              Payment shall be made on the basis of weight net of dockage less the applicable handling tariff.
                           </li>
                           <li style="margin-bottom: 1px;padding: 0;width: 100%;float: left;color: #000;font-size: 7px;font-weight: 300;">
                              Upon delivery of the Commodity, Rudy Agro shall determine the weight/quantity, grade, dockage and moisture content in accordance with procedures and official standards of the Canadian Grain Commission. It is understood that the purchase price is basis the commodity being delivered “dry” in accordance to the CGC and if product is received at higher moisture i.e. “tough” or “damp” it may result in additional charges or rejection of the load at the Sellers expense.In the event of a disagreement, the parties shall forward a suitable representative sample to the Canadian Grain Commission, and the results thereof shall be conclusive and binding.
                           </li>
                           <li style="margin-bottom: 1px;padding: 0;width: 100%;float: left;color: #000;font-size: 7px;font-weight: 300;">
                              (a) The Seller shall be responsible for all loss, damage and expense incurred by Rudy Agroarising directly or indirectly from the failure or neglect of the Seller, whether within or beyond its control, including as a result of any acts of God, to perform this agreement or any provision of it, including but not limited to the delivery of Commodity of a lesser quality. As well, the Seller agrees that the Commodity does not constitute “specific goods” as defined in The Sale of Goods Act.<br>
                              (b) In the event of any such failure or neglect, Rudy Agro shall be entitled to pursue all remedies available under law against the Seller, including all losses and expenses incurred by Rudy Agro in relation any default or breach by the Seller of any contractual arrangements between it and a 3rd party or parties inrelation to the Commodity, due to Rudy replacing or attempting to replace the Commodity from other sources and/or from Rudy accepting late and/or partial delivery from the Seller, as Rudy Agro may in its sole discretion elect.
                           </li>
                           <li style="margin-bottom: 1px;padding: 0;width: 100%;float: left;color: #000;font-size: 7px;font-weight: 300;">
                              Rudy Agro may set off against, and deduct from, any payment to the Seller for the Commodity, any indebtedness of the Seller to Rudy Agro.
                           </li>
                           <li style="margin-bottom: 1px;padding: 0;width: 100%;float: left;color: #000;font-size: 7px;font-weight: 300;">
                              Time shall be essence of this contract, and any extension thereof or other forbearance by Rudy Agro hereunder shall not constitute or be construed as a waiver of its right to require strict performance of all other provisions of this agreement.
                           </li>
                           <li style="margin-bottom: 1px;padding: 0;width: 100%;float: left;color: #000;font-size: 7px;font-weight: 300;">
                              Any notice given under the terms of this agreement shall be conclusively deemed to have been properly given and received if provided to a party by any one of the mailing, facsimile or email addresses specified at the beginning of this agreement for the party to whom the notice is being provided.
                           </li>
                           <li style="margin-bottom: 1px;padding: 0;width: 100%;float: left;color: #000;font-size: 7px;font-weight: 300;">
                              This contract shall be deemed to have been made in the Province of Saskatchewan and shall be interpreted according to the laws and by the courts of Saskatchewan.
                           </li>
                           <li style="margin-bottom: 1px;padding: 0;width: 100%;float: left;color: #000;font-size: 7px;font-weight: 300;">
                              This agreement forms the entire contract between the parties and no modification or variation is valid unless in writing signed by the Seller and Rudy Agro
                           </li>
                           <li style="margin-bottom: 1px;padding: 0;width: 100%;float: left;color: #000;font-size: 7px;font-weight: 300;">
                              The Seller acknowledges having received good and valuable consideration for its entry into this agreement, including securing a price certain for the Commodity, and also that Rudy Agro shall incur risk, effort and expense in reliance on this agreement.
                           </li>
                        </ol>
                        <div class="" style="margin-top: 0px;padding: 0;width: 100%;float: left;">
                           <div class="row" style="width: 100%;float: left;">
                              <div class="col-md-6" style="width: 35%;float: left;">
                                 <h2 class="ext" style="color: #000;font-size: 18px;margin: 80px 0 10px 0;border-top: 2px solid #000;padding: 10px 0 0 0; text-align: center;">Accepted for Seller</h2>
                              </div>
                              <div class="col-md-6" style="width: 35%;float: left;margin-left: 23%;">
                                 <img src="{{imagePath}}{{myForm.signature}}" alt="" style="width: 200px;height:80px;margin: 0 0 0 22%;">
                                 <h2 style="color: #000;font-size: 18px;margin: 0px 0 10px 0;border-top: 2px solid #000;padding: 10px 0 0 0; text-align: center;">Accepted For Buyer</h2>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <br>
                  <div id="chemicalRecationId" ng-show="!myForm" class="pdf_sec pdf_sec2" style="margin:0;
                     padding: 15px;
                     width: 100%;
                     float: left;
                     background: #fff;">
                     <div class="" style="margin: 35px 0 0 0;padding: 0;width: 100%;float: left;  border-bottom: 5px solid #007e4e;">
                     <div class="" style="width: 27.33%; float: left;padding: 0 0px;">
                        <div class="" style="margin: 0;padding: 0;width: 100%;float: left">
                           <img src="{{imagePath}}/images/rudyLogo2.png" style="margin: 0;padding: 0;float: left;">
                        </div>
                     </div>
                     <div class="" style="width: 38.33%; float: left;padding: 0 0px;display: none;">
                        <div class="" style="margin: 0;padding: 0;width: 100%;float: left;">
                           <h3 style="margin: 0;padding: 0;width: 100%;float: left;color: #000;font-size: 16px;">Production Contract</h3>
                           <h4 style="margin: 3px 0;padding: 0;width: 100%;float: left;color: #000;font-size: 16px">Commodity: {{myForm.commodityName}}</h4>
                           <h5 style="margin: 0;padding: 0 0px;width: 100%;float: left;color: #000;   font-size: 16px;">Grade:  {{myForm.gradeId.gradeName}}</h5>
                           <!-- <h2 style="margin: 0;padding: 0;width: 100%;float: left;color: #000;font-size: 16px;">Contract #: {{myForm.contractNumber}}</h2> -->
                        </div>
                     </div>
                     <div class="" style="width: 29.33%; float: right;padding: 0 15px;">
                        <div class="" style="margin: 0;padding: 0;width: 100%;float: left;">
                           <h2 style="margin: 0;padding: 0;width: 100%;float: left;color: #007e4e;
                              font-size: 16px;">RUDY AGRO LTD.</h2>
                           <h3 style="margin: 3px 0;padding: 0;width: 100%;float: left;color: #007e4e;
                              font-size: 9px;">Box 100, Outlook Sask.S0L 2N0</h3>
                           <a href="#" style="margin: 2px 0;padding: 0;width: 100%;float: left;color: #007e4e;
                              font-size: 9px;">Tel (306) 867-8667</a>
                           <a href="#" style="margin: 2px 0;padding: 0;width: 100%;float: left;color: #007e4e;
                              font-size: 9px;">Fax (306 867-8290</a>
                        </div>
                     </div>
                  </div>
                     <div class="pdf_body" style="    margin: 0;
                        padding: 0;
                        width: 100%;
                        float: left;">
                        <h3 style="font-size: 14px;
                           color: #000; 
                           text-align: center;
                           font-weight: 400;
                           margin: 15px 0 25px 0;
                           padding: 0;
                           float: left;
                           width: 100%;">Chemical Declaration Form</h3>
                        <h4 style="font-size: 14px;
                           color: #000;
                           margin: 5px 0;
                           padding: 0;
                           float: left;
                           width: 100%;"><b style="color: #000;
                           font-weight: 400;
                           margin: 0 12px 0 0;
                           padding: 0;
                           float: left;
                           width: auto;">Date: </b> {{myForm.backDate | date}}</h4>
                        <h4 style="font-size: 14px;
                           color: #000;
                           margin: 5px 0;
                           padding: 0;
                           float: left;
                           width: 100%;"><b style="    color: #000;
                           font-weight: 400;
                           margin: 0 12px 0 0;
                           padding: 0;
                           float: left;
                           width: auto;">Grower Name/Farmer Name:</b>{{myForm.growerFullName}}</h4>
                        <h4 style="font-size: 14px;
                           color: #000;
                           margin: 5px 0;
                           padding: 0;
                           float: left;
                           width: 100%;"><b style="color: #000;
                           font-weight: 400;
                           margin: 0 12px 0 0;
                           padding: 0;
                           float: left;
                           width: auto;">Purchase/Production Contract:</b> {{myForm.contractNumber}}</h4>
                        <p style="
                           color: #000;
                           margin: 4px 0;
                           padding: 0;
                           float: left;
                           width: 100%;
                           font-size: 14px;">We hereby confirm the following crop production products were applied to the above crop during the current growing season.   All products were applied within the established rates and guidelines as per the manufacturers label. (Check those that were applied)</p>
                        <div class="" style="margin: 0;padding: 0 0px;width: 100%;float: left;">
                              <table class="" style="width: 100%;max-width: 98%;margin-bottom: 0;margin-top: 0;">
                                 <thead>
                                    <tr>
                                       <th style="text-align:left;font-size: 11px;color: #000000;text-align: center; padding: 10px;-webkit-print-color-adjust: exact;border: 1px solid #000; ">HERBICIDE</th>
                                       <th style="text-align:left;font-size: 11px;color: #000000;text-align: center; padding: 10px;-webkit-print-color-adjust: exact;border: 1px solid #000; "></th>
                                       <th style="text-align:left;font-size: 11px;color: #000000;text-align: center; padding: 10px;-webkit-print-color-adjust: exact;border: 1px solid #000; ">FUNGICIDE</th>
                                       <th style="text-align:left;font-size: 11px;color: #000000;text-align: center; padding: 10px;-webkit-print-color-adjust: exact;border: 1px solid #000; "></th>
                                       <th style="text-align:left;font-size: 11px;color: #000000;text-align: center; padding: 10px;-webkit-print-color-adjust: exact;border: 1px solid #000; "></th>
                                       <th style="text-align:left;font-size: 11px;color: #000000;text-align: center; padding: 10px;-webkit-print-color-adjust: exact;border: 1px solid #000; "></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Ares</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Acapela</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Propel</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Authority/Authority Charge</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Allegro 500F</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">NuFarm Propiconazole</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Avadex</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Avadex</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Propi Super 25 EC</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Basagran</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Bravo 500</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Propulse</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Clethodim</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Bumper 418 EC</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Quadris</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Dual II Magnum</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Contans</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Quash</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Edge Granular</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Copper 53W</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Quilt</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Eptam Liquid EC</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Cueva</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Serenade Max/CPB</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Frontier Max</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Delaro</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Tilt 250E</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Imazethapyr</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Dithane Rainshield</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Vertisan</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Heat</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Echo 720</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">MCPA Sodium Salt/Amine</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Elatus</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="text-align:left;font-size: 11px;color: #000000;text-align: center; padding: 10px;-webkit-print-color-adjust: exact;border: 1px solid #000;">DESICCATION</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">MCPB/MCPA</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Headline EC</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">GLYPHOSATE</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Metribuzin</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Kingpin 75 WDG</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">DIQUAT</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Odyssey NXT</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Lance AG</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Odyssey Ultra</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Lance WDG</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Permit</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Manzate Pro-Stick</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">OTHER:</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Poast Ultra</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Parasol WG</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Reflex & Basagran</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Penncozeb 75DF</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Quizalofop</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Phostrol</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Solo</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Pivot 418EC</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Trifluralin</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Priaxor</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #cdcdcd;">
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Viper ADV</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;">Proline 480SC</td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                       <td style="color: #000000;background: #ffffff;padding: 2px 10px;font-size: 14px;border: 1px solid #000;"></td>
                                    </tr>
    
                                 </tbody>
                              </table>
                           </div>
                        <div class="" style="margin: 25px 0 0 0;padding: 0;width: 100%;float: left;">
                           <div class="row" style="width: 100%;float: left;">
                              <div class="col-md-6" style="width: 50%;float: left;padding: 0 15px;">
                                 <h6 style="color: #000;margin: 8px 0 0px 0;padding: 0;float: left;width: 100%;font-size: 18px;">Per: Admin</h6>
                                 <h2 class="ext" style="margin: 40px 0 0 0;
                                    padding: 5px 0 0 0;
                                    width: 100%;
                                    float: left;
                                    color: #000;
                                    font-size: 20px;
                                    border-top: 2px solid #000;">{{myForm.growerFullName}}</h2>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>