<div class="dash_bord" ng-controller="subAdminCtrl">
   <sidebar></sidebar>
   <div class="right_panel">
      <header></header>
      <div class="panel_body">
         <h3 class="heading_cls">Add Sub-Admin</h3>
         <hr class="heading_hr">
         <div class="panel_body_inner inner_box_List_add add_commodity">
            <div class="col-md-12">
               <div class="add_commodity">
                  <form name="addSubAdmin">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="com_pac">
                                 <label style="width: 43%;">User Name</label>
                                 <input type="text" ng-minlength="2" maxlength="50" ng-model="myForm.userName" placeholder="User Name" name="userName" ng-disabled="inputField=='view'" ng-change="checkUserName()" required>
                                 <div ng-show="showCheck=='show'">
                                    <i class="fa fa-check-circle" style="font-size:20px;color:#007e4e;margin: 0 4px 8px 0"></i>
                                 </div>
                                 <div ng-show="showCheck=='hide'">
                                    <i class="fa fa-close-square" style="font-size:20px;color:red;margin: 0 4px 8px 0"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="com_pac">
                                 <label style="width: 43%;">Full Name</label>
                                 <input type="text" ng-minlength="2" maxlength="50" ng-model="myForm.fullName" placeholder="Full Name" name="fullName" ng-disabled="inputField=='view'" required>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="com_pac">
                                 <label style="width: 43%;">Email</label>
                                 <input type="text" ng-model="myForm.email" placeholder="Email" name="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-disabled="inputField=='view'">
                                 <span class="validation_error_admin" ng-show="addSubAdmin.email.$dirty && addSubAdmin.email.$invalid">
                                 <span class="validation_error_admin" ng-show="addSubAdmin.email.$error.required">Email is required.</span>
                                 <span class="validation_error_admin" ng-if="addSubAdmin.email.$error.pattern">Please Enter Vaild Email.</span></span>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="com_pac">
                                 <label style="width: 43%;">Mobile Number</label>
                                 <input type="text" ng-model="myForm.mobileNumber" placeholder="Mobile Number" name="mobileNumber"  numbers-Only ng-disabled="inputField=='view'" required>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="com_pac">
                                 <label style="width: 43%;">Access Type</label>
                                 <select ng-model="myForm.type">
                                    <option value="">Select Access Type</option>
                                    <option value="ADMIN">ADMIN</option>
                                    <option value="MANAGER">MANAGER</option>
                                    <option value="USER">USER</option>
                                 </select>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="com_pac">
                                 <label style="width: 43%;">Roles</label>
                                 <select ng-model="myForm.roles">
                                    <option value="">Select Roles</option>
                                    <option value="Grain Buyer">Grain Buyer</option>
                                    <option value="Grader">Grader</option>
                                    <option value="Receiver">Receiver</option>
                                    <option value="Sales">Sales</option>
                                    <option value="All">All</option>
                                 </select>
                              </div>
                           </div>
                        </div>                        
                           <div class="row">
                           <div class="col-md-6">
                              <div class="com_pac">
                              <label style="width: 43%;">Upload Signature</label>
                              <input type="file" id="files" class="form-control" onchange="angular.element(this).scope().signatureImage(this)" accept="image/x-png,image/gif,image/jpeg">
                           </div>
                           </div>
                        </div>
                        <button ng-click="save('Submit')"  ng-disabled="addSubAdmin.$invalid">{{inputField=='edit'?'Save Change':'Submit'}}</button>
                     </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>