<div class="dash_bord">
    <sidebar></sidebar>
    <div class="right_panel">
        <header></header>
        <div class="panel_body" ng-init="DoCtrlPagingAct('bar', 1)">
            <h3 class="heading_cls">Shipping Material</h3><hr class="heading_hr">
            <div class="panel_body_inner inner_box_List">
                <div class="col-md-12">
                    <div class="add_commodity_bar">
                        <button ng-click="gotoInventory()" style="float: left;">Bag Inventory <i class="fa fa-info-circle"></i></button>
                        <input type="text" name="search" ng-model="cityName" ng-change="searchCity()" placeholder="Search">
                        <button ng-show="loginUserAccess.setting.baggings.add" ng-click="openPop('add')">ADD <i class="fas fa-plus-circle"></i></button>
                        <button class="mx-2" ng-show="loginUserAccess.setting.baggings.add" ng-click="downloadInventoryExcel()">Bag Inventory <i class="fas fa-table"></i></button>
                    </div>
                    <div class="comodity_table comodity_table_list" style="margin-top: 20px;">
                        <div style="text-align: right;">
                          <button class="si-button" ng-show="loginUserAccess.setting.baggings.add" ng-click="update('BagCount')">
                            Update Bag Count <i class="fa fa-wrench"></i>
                          </button>
                          <button class="si-button" ng-show="loginUserAccess.setting.baggings.add" ng-click="update('OpeningInventory')">
                            Update Opening Inventory <i class="fa fa-wrench"></i>
                          </button>
                        </div>
                        <table class="table table-striped commodity_table" style="margin-top: 0;">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Cost</th>
                                    <th>Type</th>
                                    <th>Bag Wt.</th>
                                    <th ng-show="loginUserAccess.setting.baggings.view || loginUserAccess.setting.baggings.edit || loginUserAccess.setting.baggings.delete">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="result in bagsList">
                                    <td>{{result.name}}</td>
                                    <td>{{result.category ? result.category.name : ''}}</td>
                                    <td>{{result.bagCost}}</td>
                                    <td>{{result.bulkBag}}</td>
                                    <td>{{result.weightOfBag}}</td>
                                    <td ng-show="loginUserAccess.setting.baggings.view || loginUserAccess.setting.baggings.edit || loginUserAccess.setting.baggings.delete">
                                        <a ng-show="loginUserAccess.setting.baggings.delete" class="veiw_detail" ng-click="delete(result._id)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                        <a ng-show="loginUserAccess.setting.baggings.edit" class="veiw_detail" ng-click="openPop('edit',result)"><i class="fas fa-pen-square"></i></a>
                                        <a ng-show="loginUserAccess.setting.baggings.view" ng-click="openPop('view',result)" class="veiw_detail"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a title="Bag balance" ng-href="/bagBalance/{{result._id}}" class="veiw_detail" ng-show="['Bag', 'Pallet'].includes(result.bulkBag)"><i class="fa fa-info-circle"></i></a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <div paging
                            page="page"
                            page-size="10"
                            total="totalPages"
                            paging-action="DoCtrlPagingAct('bar', page)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="popup_overlay"></div>
    <div class="add_coomm country">
        <form name="country">
            <div class="enter_comm_typ">
                <div class="head_comm">
                    <div type="button" class="close" data-dismiss="modal">&times;</div>
                </div>
                <div class="com_pac">
                    <label style="width: 44%;">Name</label>
                    <input type="text" name="name" ng-model="myForm.name" placeholder="Enter Name" required>
                </div>
                <div class="com_pac">
                    <label>Category</label>
                    <select ng-model="myForm.category" ng-options="category._id as category.name for category in bagCategories">
                        <option value="">-- Bag Category --</option>  
                    </select>
                </div>
                <div class="com_pac">
                    <label style="width: 44%;">Cost</label>
                    <input type="text" name="bagCost" numbers-Only ng-model="myForm.bagCost" placeholder="Enter Bag Cost" required>
                </div>
                <div class="com_pac">
                    <label>Type</label>
                    <select ng-model="myForm.bulkBag">
                        <option value="">-- Bag Type --</option>
                        <option value="Bulk">Bulk</option>
                        <option value="Bag">Bag</option>
                        <option value="Pallet">Pallet</option>
                    </select>
                </div>
                <div class="com_pac">
                    <label style="width: 44%;">Capacity</label>
                    <input type="text" name="bagCount" numbers-Only ng-model="myForm.bagWeight" placeholder="Enter Bag Weight">
                </div>
                <div class="com_pac">
                    <label>Bag Weight Unit</label>
                    <select ng-model="myForm.bagWeightUnit">
                    <option value="">-- Bag Weight Unit --</option>
                    <option value="MT">MT</option>
                    <option value="KGS">KGS</option>
                    <option value="LBS">LBS</option>
                    </select>
                </div>
                <div class="com_pac">
                    <label style="width: 44%;">Weight of Bag (in gms)</label>
                    <input type="text" name="weightOfBag" numbers-Only ng-model="myForm.weightOfBag" placeholder="Enter weight of Bag">
                </div>
                <div class="com_pac">
                    <label>Include Pallets</label>
                    <div class="grop_rad">
                        <label class="grop_rad_check">Yes
                            <input type="checkbox" ng-model="myForm.includePallets">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <button ng-click="save(inputField=='edit'?'Save Change':'Submit')" ng-hide="inputField=='view'" ng-disabled="country.$invalid">{{inputField=='edit'?'Save Change':'Submit'}}</button>
            </div>
        </form>
    </div>
</div>
