<div class="dash_bord">
    <sidebar></sidebar>
    <div class="right_panel">
        <header></header>
        <div class="panel_body" ng-init="initTrucker(1)">
            <h3 class="heading_cls">Trucker List</h3>
            <hr class="heading_hr">
            <div class="panel_body_inner inner_box_List">
                <div class="col-md-12">
                    <div class="add_commodity_bar">
                        <input type="text" name="search" ng-model="truckerName" ng-change="searchTrucker()"
                            placeholder="Search">
                        <button ng-show="loginUserAccess.setting.trucker.add" ng-click="openPop()">ADD <i
                                class="fas fa-plus-circle"></i></button>
                    </div>
                    <div class="comodity_table comodity_table_list">
                        <table class="table table-striped commodity_table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th ng-show="loginUserAccess.setting.trucker.view || loginUserAccess.setting.trucker.edit || loginUserAccess.setting.trucker.delete">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="result in truckerList">
                                    <td>{{result.truckerName}}</td>
                                    <td>
                                        <span ng-class="result.status==0?'badge badge-success':'badge badge-dark'">{{result.status==0?'ACTIVATED':'DEACTIVATED'}}</span>
                                    </td>
                                    <td ng-show="loginUserAccess.setting.trucker.view || loginUserAccess.setting.trucker.edit || loginUserAccess.setting.trucker.delete">
                                        <a ng-show="loginUserAccess.setting.trucker.delete" class="delete_detail"
                                            ng-click="delete(result._id,result.status)">
                                            <i ng-show="result.status==0" class="fa fa-trash" aria-hidden="true"></i>
                                            <i ng-show="result.status==1" class="fa fa-undo" aria-hidden="true"></i>
                                        </a>
                                        <a ng-show="loginUserAccess.setting.trucker.edit" class="edit_details"
                                            ng-click="openPop('edit',result)">
                                            <i class="fas fa-pen-square"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div paging page="page" page-size="10" total="totalPages"
                            paging-action="initTrucker(page)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="popup_overlay"></div>
    <div class="add_coomm trucker" style="width: 400px;">
        <form name="trucker">
            <div class="enter_comm_typ">
                <div class="head_comm">
                    <div type="button" class="close" data-dismiss="modal">&times;</div>
                </div>
                <div class="com_pac">
                    <label>Name</label>
                    <input type="text" name="name" ng-model="myForm.truckerName" placeholder="Enter Name" required>
                </div>
                <button ng-click="save(inputField=='edit'?'Save Change':'Submit')" ng-hide="inputField=='view'"
                    ng-disabled="trucker.$invalid">{{inputField=='edit'?'Save Change':'Submit'}}</button>
            </div>
        </form>
    </div>
</div>