<style>
  .edit_details, .veiw_details, .veiw_detail{
    float: none !important;
    margin:0;
    padding: 2px 5px;
  }
</style>
<div class="dash_bord">
   <sidebar></sidebar>
   <div class="right_panel">
      <header></header>
      <div class="panel_body" ng-init="DoCtrlPagingAct()">
         <h3 class="heading_cls" style="padding: 0 0 0 170px;">Outgoing Seed Sales Tickets
            <button class="btn_top" ng-click="exportSheet()">Export/Print</button>
            <button class="btn_top" ng-click="exportCGCReport()">Export CGC Report</button>
            <button class="btn_top" ng-click="exportAllData()" >Export All</button>
           
         <!-- </div> -->
         </h3>
         <hr class="heading_hr">
         <div class="panel_body_inner inner_box" style="padding: 0;">
            <div class="col-md-12">
             
               <div class="row">
                  <div class="col-md-12">
                     <div class="tabla_header">
                        <div class="tbl" style="width: 15%!important;">
                           <label>Name/Farm</label>
                           <input type="text" name="" ng-enter="search()" ng-model="myForm.name">
                        </div>
                        <div class="tbl" style="width: 15%!important;">
                           <label>Commodity</label>
                           <select style="font-size: 14px;height: 34px;color: #000;width: 100%;" name="commodity" ng-options="commodity._id as commodity.commodityName for commodity in commoditys" ng-model="myForm.commodity" ng-change="search()">
                                  <option value="">Select Commodity</option>
                              </select>
                        </div>
                        <div class="tbl" style="width: 15%!important;">
                           <label>Contract #</label>
                           <input type="text" name="" ng-enter="search()" ng-model="myForm.contractNumber">
                        </div>
                        <div class="tbl" style="width: 15%!important;">
                           <label>Ticket #</label>
                           <input type="text" name="" ng-enter="search()" ng-model="myForm.ticketNumber">
                        </div>
                        <div class="tbl" style="width: 10%!important;">
                              <label>From Date</label>
                                    <datepicker style="width: 100%" class="date_pic" date-format="yyyy-MM-dd" selector="form-control">
                                        <div class="input-group">
                                            <input name="dateFrom" class="form-control" ng-model="myForm.fromDate" placeholder="Choose a date" autocomplete="off" ng-change="search()" />
                                            <span class="input-group-addon" style="cursor: pointer">
                                   <i class="fa fa-lg fa-calendar"></i>
                                   </span>
                                        </div>
                                    </datepicker>
                                </div>
                      <div class="tbl" style="width: 10%!important;">
                                    <label>To Date</label>
                                    <datepicker style="width: 100%" class="date_pic" date-format="yyyy-MM-dd" selector="form-control">
                                        <div class="input-group">
                                            <input name="dateFrom" class="form-control" ng-model="myForm.toDate" placeholder="Choose a date" autocomplete="off" ng-change="search()" />
                                            <span class="input-group-addon" style="cursor: pointer">
                                   <i class="fa fa-lg fa-calendar"></i>
                                   </span>
                                        </div>
                                    </datepicker>
                       </div>
                       <div class="tbl" style="width: 10%!important;">
                           <label>See More</label>
                           <select style="font-size: 14px;height: 34px;color: #000;width: 100%;" name="seeMore" ng-model="myForm.limit" ng-change="search()">
                              <option value="">Select</option>
                              <option>10</option>
                                        <option>20</option>
                                        <option>30</option>
                                        <option>50</option>
                                        <option>120</option>
                                        <option>150</option>
                                        <option>200</option>
                           </select>
                        </div>
                        <button ng-click="clear()">Clear</button>
                     </div>
                  </div>
               </div>
               >
               <div class="comodity_table comodity_table_list">
                  <table class="table table-striped commodity_table" style="font-size: 14px;">
                     <thead>
                        <tr>
                           <th style="width: 10%;">Date</th>
                           <th style="width: 8%;">Ticket No.</th>
                           <th>Unload Time</th>
                           <th>Commodity</th>
                           <th>Grower Name</th>
                           <th>Contract #</th>
                           <th>Gross</th>
                           <th>Tare</th>
                           <th>Load</th>
                           <th style="width: 10%;" ng-show="loginUserAccess.truckScale.outgoingSeedSales.view || loginUserAccess.truckScale.outgoingSeedSales.edit">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="result in outgoingList">
                          
                           <td class="{{getClass(result)}}">{{result.date | date}}</td>
                           <td class="{{getClass(result)}}">RO-{{result.ticketNumber}}</td>
                           <td class="{{getClass(result)}}">{{result.unloadTime}}</td>
                           <td class="{{getClass(result)}}">{{result.commodityId.commodityName}}</td>
                           <td class="{{getClass(result)}}">{{result.growerFullName}}</td>
                           <td class="{{getClass(result)}}">{{result.contractNumber}}</td>
                           <td class="{{getClass(result)}}">{{result.grossWeight| number:3}}</td>
                           <td class="{{getClass(result)}}">{{result.tareWeight| number:3}}</td>
                           <td class="{{getClass(result)}}">{{result.unloadWeidht | number:3}}</td>
                           
                           <td class="text-right" ng-show="loginUserAccess.truckScale.outgoingSeedSales.view || loginUserAccess.truckScale.outgoingSeedSales.edit">
                             

                              <a ng-show="result.analysisCompleted && loginUserAccess.truckScale.outgoingSeedSales.edit" style="cursor: pointer;" ng-click="unlockScaleTicket(result,'analysisCompleted')" class="edit_details">
                                <i class="fa fa-unlock" aria-hidden="true"></i>
                              </a> 
                                 
                              <a ng-show="loginUserAccess.truckScale.outgoingSeedSales.view" ng-href="/outgoingScaleTicketPDF/{{result._id}}" class="veiw_detail">
                              <i class="fa fa-eye" aria-hidden="true"></i>
                              </a>
                              
                             <a  ng-href="editoutgoingSeedScale/{{result.growerId._id}}/{{result._id}}" ng-show="loginUserAccess.truckScale.outgoingSeedSales.edit" class="edit_details">
                              <i class="fas fa-pen-square"></i>
                              </a>
                            
                            
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div paging
                     page="page" 
                     page-size="myForm.limit" 
                     total="totalPages"
                     paging-action="DoCtrlPagingAct(page)">
                  </div>
               </div>
               

            </div>
         </div>
      </div>
   </div>

  
</div>

